{% extends 'base.html' %}

{% load static %}

{% block title %}

<title>Add Blog</title>

{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}


<div class="container">

    <div class="container text-center shadow my-5">
        <h1 class="display-5 text-primary">All Blogs</h1>
    </div>

    <div class="container shadow my-5 ">

        {% for fm in form %}
            <div class="container border-bottom my-5 pb-3">
                <h1 class="display-5">{{fm.title}}</h1>
                <p class="lead">{{fm.desc}}</p>
            </div>
        {% endfor %}

    </div>


</div>


{% endblock body %}